body {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: larger;
    line-height: 1.15;
    background-color: #FFFFFF;
    color: #000000;
    transition: background-color 1s, color 1s, font-size 0.5s;
    zoom: 150%;
}

li {
    margin-top: 0.5em;
}

ul {
    transition: padding 0.5s;
}

.dark {
    background-color: #303030;
    color: #FFFFFF;
    transition: background-color 1s, color 1s;
  }

.dark a:link {
    color: #6bd0ff;
}

.dark a:visited {
    color: #d06bff;
}

.dark a:active {
    color: #ff6b93;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 75%;
    background-color: #FFFFFF;
    border: 2px solid black;
    transition: width 0.5s;
}

.dark .centerimg {
    border-color: hsl(0, 0%, 70%);;
}

.page {
    margin-top: 3em;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s, color 1s, top 0.5s;
}

.dark .head {
    background-color: #000000;
}
 
.switch {
    padding: 0.3em;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: #FFFFFF;
}

.dark .switch {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #424242; /*424242*/
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5em;
  }

.centertable {  
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border-color: #000000;
    background-color: #FAFAFA;
    box-shadow: 0px 0px 10px #424242;
    transition: background-color 0.5s, color 0.5s;
}

.dark .centertable {
    background-color: #424242;
    box-shadow: 0px 0px 10px black;
    border-color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    body {
        font-size: smaller;
    }

    .head {
        top: calc(100% - 2em);
    }

    .centerimg {
        width: 90%;
    }

    ul {
        padding-left: 1em;
      }

      table {
        font-size: smaller;
      }
}