body {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: larger;
    line-height: 1.15;
    background-color: #FFFFFF;
    color: #000000;
}

li {
    margin-top: 0.5em;
}

.dark {
    background-color: #303030;
    color: #FFFFFF;
  }

.dark a:link {
    color: #6bd0ff
}

.dark a:visited {
    color: #d06bff
}

.dark a:active {
    color: #ff6b93
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    width: 90%;
    background-color: #FFFFFF;
    border: 2px solid black;
}

.dark .centerimg {
    border-color: hsl(0, 0%, 70%);;
}

.page {
    margin-top: 3em;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.head {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #E0E0E0;
}

.dark .head {
    background-color: #000000;
}

@media screen and (max-width: 600px) {
    .head {
        top: auto;
        bottom: 0;
    }
}
 

.switch {
    padding: 0.3em;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 0.3em;
}

.dark .switch {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #424242;
}
